/* COMMON STYLE */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
}
/* TOP-MENU */
.navbar {
  border-radius: 0;

}
.navbar-inverse {
  background-color: #fff;
  border-color: #ddd;
}
.navbar-inverse.overscroll {
  background-color: rgba(22, 39, 44, 0.8);
  border-color: rgba(22, 39, 44, 0.85);
}
.navbar-inverse .navbar-brand {
  height: auto;
}
.navbar-brand > img {
  height: 20px;
  margin: 10px 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
  text-align: center;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background-color: transparent;
  border-bottom: 1px solid;
}
.navbar-inverse.overscroll .navbar-collapse {
  border-color: rgba(22, 39, 44, 0.85);
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
  border-bottom: 1px solid;
}
.navbar-nav > li > a {
  line-height: 30px;
  text-transform: capitalize;
  padding: 0;
  margin: 20px 10px 19px 10px;
}
.navbar-inverse .navbar-nav > li > #one,
.navbar-inverse .navbar-nav > li > #five {
  border-color: #21a8e7;
}
.navbar-inverse .navbar-nav > li > #two,
.navbar-inverse .navbar-nav > li > #six {
  border-color: #8d30a7;
}
.navbar-inverse .navbar-nav > li > #three {
  border-color: #489186;
}
.navbar-inverse .navbar-nav > li > #four {
  border-color: #e72566;
}
.navbar-fixed-top {

}
/* CAROUSEL */
.carousel {
  padding-top: 71px;
  background: #2a2d7f;
}
.carousel-slide {
  width: 100%;
}
.carousel-inner > .item {
  opacity: 0.5;
}
#slogan {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.main_words {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  letter-spacing: 0.08em;
  max-width: 900px;
  margin: auto;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 70px;
  margin-bottom: 50px;
}
.italic {
  text-transform: none;
  font-size: 0.9em;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 8px 24px;
}
.left-btn {
  text-align: right;
}
.right-btn {
  text-align: left;
}
#slogan .btn.btn-default,
#slogan .btn.btn-default.pseudo-act:hover,
#slogan .btn.btn-default.pseudo-act:active {
  border: 2px solid #21a8e7;
border-radius: 0;
color: #21a8e7;
font-size: 16px;
position: relative;
text-transform: uppercase;
background: transparent;
font-weight: 500;
z-index: 0;
}
#slogan .btn.btn-default::after,
#slogan .btn.btn-default.pseudo-act:hover::after,
#slogan .btn.btn-default.pseudo-act:active::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #21a8e7;
}
#slogan .btn.btn-default:hover,
#slogan .btn.btn-default:active,
#slogan .btn.btn-default.pseudo-act {
  border: 2px solid #21a8e7;
  color: #fff;
  -webkit-transition: background .2s; /* Safari 3.1 to 6.0 */
  transition: background .2s;
  position: relative;
  background: transparent;
  z-index: 0;
}
#slogan .btn.btn-default:hover::after, #slogan .btn.btn-default:active::after, #slogan .btn.btn-default.pseudo-act::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #21a8e7;
}
/* MODAL */
.modal-content {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 10px 2px rgba(189, 219, 219, .5);
  box-shadow: 0px 3px 10px 2px rgba(189, 219, 219, .5);
}
.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}
.modal-open .modal {
  padding-right: 0 !important;
}
.modal-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: none;
  color: #777;
  font-weight: 100;
}
.close {
  font-size: 40px;
  font-weight: 100;
  color: #bbb;
  text-shadow: none;
  filter: alpha(opacity=40);
  opacity: .4;
}
.close:hover, .close:focus {
  color: #eee;
  outline: none;
}
.modal-header .close {
  margin-top: -13px;
  margin-right: -3px;I
}
.modal-body .btn-position {
  text-align: center;
  margin-bottom: 30px;
}
.modal-body .tab-content {
  color: #444;
}
.modal-body a.btn.btn-success {
  background: transparent;
  border: none;
  position: relative;
  text-transform: uppercase;
  color: #333;
}
a.btn.btn-success:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: linear-gradient(to top, rgba(92,132,13,0) 0%,rgba(23, 206, 185, 0.7) 100%);
}
a.btn.btn-success:hover:after {
  content: "";
  width: 100%;
  height: 15px;
  bottom: -15px;
  transition: all ease .2s;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 10px;
}
.submit-btn {
  text-align: right;
}
.tab-pane label {
  font-weight: 100;
  font-size: 16px;
}
.how-work {
  /*background:
    linear-gradient(135deg, #bddbdb 2px, #C4DEDE 2px, #C4DEDE 3px, transparent 3px, transparent 8px, #C4DEDE 8px, #C4DEDE 9px, transparent 9px),
    linear-gradient(225deg, #bddbdb 2px, #C4DEDE 2px, #C4DEDE 3px, transparent 3px, transparent 8px, #C4DEDE 8px, #C4DEDE 9px, transparent 9px)0 8px;*/
  background-color:#fff;
  background-size: 8px 16px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.projects {
  height: auto;
  background: #736087; /* Old browsers */
  background: -moz-radial-gradient(30% 10%, ellipse farthest-corner,  #c08f94 0%, #464472 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(30% 10%, ellipse farthest-corner,  #c08f94 0%,#464472 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse farthest-corner at 30% 10%,  #c08f94 0%,#464472 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c08f94', endColorstr='#464472',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.modal-content label {
    font-size: 16px;
    font-weight: 100;
}
.modal-content .form-control {
	color: #31708f;
	background-color: #fff;
	border: 1px solid #ddd;
}
.modal-content .form-control:focus {
    border-color: #54d2d2;
	-webkit-box-shadow: inset 0 1px 1px rgba(94, 220, 220, .6);
    box-shadow: inset 0 1px 1px rgba(94, 220, 220, .6);
}
/* OUR TEAM */
.developers {
  height: 250px;
  width: 250px;
  margin: auto;
}
#developer-1 {
  background-image: url(../img/developer-1.jpg);
  background-size: cover;
  background-position: center;
}
#developer-2 {
  background-image: url(../img/developer-2.jpg);
  background-size: cover;
  background-position: center;
}
#developer-3 {
  background-image: url(../img/developer-3.jpg);
  background-size: cover;
  background-position: center;
}
#developer-4 {
  background-image: url(../img/developer-4.jpg);
  background-size: cover;
  background-position: center;
}
.team-member {
  text-align: center;
}
/* PRICES */
.priceCard {
    width: 250px;
    margin: auto;
	background: #3C5777;
	padding: 15px;
	color: #fff;
	border-radius: 5px;
}
.firstCard {
	margin-right: 0;
}
.lastCard {
	margin-left: 0;
}
.priceCard h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    text-align: center;
}
/* FOOTER */
.footer {
  background:
    linear-gradient(27deg, #151723 1px, transparent 1px) 0 1px,
    linear-gradient(207deg, #151723 1px, transparent 1px) 2px 0px,
    linear-gradient(27deg, #16272c 1px, transparent 1px) 0px 2px,
    linear-gradient(207deg, #16272c 1px, transparent 1px) 2px 1px,
    linear-gradient(90deg, #161B1F 2px, transparent 2px),
    linear-gradient(#1A1D25 35%, #181D23 35%, #181D23 70%, transparent 50%, transparent 75%, #202531 75%, #202531);
  background-color: #0D0E10;
  background-size: 4px 4px;
  color: #bbb;
}
.footer label {
    font-size: 16px;
    font-weight: 100;
}
.footer .form-control {
	color: #F1F1F1;
	background-color: #3D434C;
	border: 1px solid #555663;
}
.footer .form-control:focus {
	box-shadow: none;
    border-color: #ddd;
}
.icon-color {
  height: 80px;
  width: 80px;
  margin: auto;
  border: 2px solid;
  border-radius: 50%;
}
.icon-color.blue-icon {
  background-image: url(../img/books.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 12px;
  border-color: #21a8e7;
}
.blue-text h4 {
  color: #21a8e7;
}
.icon-color.violet-icon {
  background-image: url(../img/light-bulb.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 12px;
  border-color: #8d30a7;
}
.violet-text h4 {
  color: #8d30a7;
}
.icon-color.green-icon {
  background-image: url(../img/gift.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 12px;
  border-color: #489186;
}
.green-text h4 {
  color: #489186;
}
.icon-color.pink-icon {
  background-image: url(../img/customer-service.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 12px;
  border-color: #e72566;
}
.pink-text h4 {
  color: #e72566;
}
.how-work p {
 text-align: center;
 padding: 0 30px;
}
.header {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 15px 0;
}
.chapters-name.header {
    font-weight: 100;
    margin-top: 35px;
}
.projects .chapters-name.header,
.technologies .chapters-name.header {
    color: #fff;
  }
img.preview {
    height: 150px;
}
.owl-item > div{
  text-align: center;
}
div#owl-projects, div#owl-technologies {
    padding-bottom: 10px;
}
#owl-projects h4.header {
    color: #21a8e7;
}
#owl-projects p {
    color: #fff;
    font-weight: 100;
    padding: 0 35px 20px;
}
.projects .btn.btn-default:hover, .projects .btn.btn-default:active {
    border: 2px solid #fff;
    color: #7c6581;
    -webkit-transition: background .2s;
    transition: background .2s;
    position: relative;
    background: transparent;
    z-index: 0;
    font-weight: 300;
}
.projects .btn.btn-default {
    border: 2px solid #fff;
    border-radius: 0;
    padding: 5px 18px;
    color: #fff;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    background: transparent;
    font-weight: 100;
    z-index: 0;
}
.projects .btn.btn-default::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}
.projects .btn.btn-default:hover::after, .projects .btn.btn-default:active::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}
.hidensee {
  display: none;
  position: absolute;
  top: 0;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: rgba(140, 99, 129, 0.8);
  color: #fff;
}
.team-member:hover .hidensee {
  display: block;
}
.hidensee h4 {
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: 100;
}
.hidensee p {
    padding: 20px;
    height: 110px;
    font-weight: 100;
}
.hidensee a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.technologies {
    background: #abafb5;
}
#owl-technologies img {
    height: 110px;
}
.price-card {
    width: 260px;
    border: 1px solid;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: 370px;
    position: relative;
}
.price-card h2 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0;
}
.price-card.card-1 {
    border-color: #8d30a7;
    color: #8d30a7;
    margin-right: 0;
}
.price-card.card-2 {
    border-color: #489186;
    color: #489186;
}
.price-card.card-3 {
    border-color: #e72566;
    color: #e72566;
    margin-left: 0;
}
.prices {
  margin-bottom: 50px;
}
p.cost {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}
p.cost small {
    font-size: 20px;
}
.prices .btn.btn-default:hover, .prices .btn.btn-default:active {
    border: 2px solid;
    -webkit-transition: background .2s;
    transition: background .2s;
    position: relative;
    background: transparent;
    z-index: 0;
    font-weight: 300;
}
.prices .card-1 .btn.btn-default:hover, .prices .card-1 .btn.btn-default:active {
  border-color: #8d30a7;
  color: #fff;
}
.prices .card-2 .btn.btn-default:hover, .prices .card-2 .btn.btn-default:active {
  border-color: #489186;
  color: #fff;
}
.prices .card-3 .btn.btn-default:hover, .prices .card-3 .btn.btn-default:active {
  border-color: #e72566;
  color: #fff;
}
.prices .btn.btn-default {
    border: 2px solid;
    border-radius: 0;
    padding: 5px 18px;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    background: transparent;
    font-weight: 100;
    z-index: 0;
}
.prices .card-1 .btn.btn-default {
  border-color: #8d30a7;
  color: #8d30a7;
}
.prices .card-2 .btn.btn-default {
  border-color: #489186;
  color: #489186;
}
.prices .card-3 .btn.btn-default {
  border-color: #e72566;
  color: #e72566;
}
.prices .btn.btn-default::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}
.prices .card-1 .btn.btn-default::after {
    background: #8d30a7;
}
.prices .card-2 .btn.btn-default::after {
    background: #489186;
}
.prices .card-3 .btn.btn-default::after {
    background: #e72566;
}
.prices .btn.btn-default:hover::after, .prices .btn.btn-default:active::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.prices .card-1 .btn.btn-default:hover::after, .prices .card-1 .btn.btn-default:active::after {
  background: #8d30a7;
}
.prices .card-2 .btn.btn-default:hover::after, .prices .card-2 .btn.btn-default:active::after {
  background: #489186;
}
.prices .card-3 .btn.btn-default:hover::after, .prices .card-3 .btn.btn-default:active::after {
  background: #e72566;
}
.prise-order-block {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
}
